/* this is first scren */
@media (max-width:1900px) {
 .h1-style h1{
    font-size: 50px !important;
 }   
 .h1-style p{
    font-size: 20px;
    width: 100% !important;
 }
 .car-bag{
    width: 800px !important;
 }
 .vector-bag{
    width: 900px !important;
 }
}
@media (max-width:1400px) {
    .arriving-sty{
        font-size: 18px !important;
    }
    .h1-style h1{
       font-size: 32px !important;
    }   
    .h1-style p{
       font-size: 12px;
    }
    .car-bag{
       width: 650px !important;
    }
    .vector-bag{
       width: 750px !important;
    }
   }
   @media (max-width:1200px) {
    .arriving-sty{
        font-size: 18px !important;
    }
    .h1-style h1{
       font-size: 32px !important;
       letter-spacing: 5px !important;
    }   
    .h1-style p{
       font-size: 8px;

    }
    .car-bag{
        margin-top: 10px !important;
       width: 500px !important;
    }
    .vector-bag{
       width: 600px !important;
    }
   }
   @media (max-width:1000px) {
    .section-response{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }
    .h1-style h1{
        font-size: 50px !important;
     }   
     .h1-style p{
        font-size: 20px;
        width: 100% !important;
     }
     .car-bag{
        width: 800px !important;
     }
     .vector-bag{
        width: 900px !important;
     }
   }
   @media (max-width:800px) {
    .arriving-sty{
        font-size: 18px !important;
    }
    .h1-style h1{
       font-size: 32px !important;
    }   
    .h1-style p{
       font-size: 12px;
    }
    .car-bag{
       width: 500px !important;
    }
    .vector-bag{
       width: 750px !important;
    }
   }
   @media (max-width:550px) {
    .arriving-sty{
        font-size: 18px !important;
    }
    .h1-style h1{
       font-size: 32px !important;
    }   
    .h1-style p{
       font-size: 12px;
    }
    .car-bag{
        margin: 5px;
       width: 400px !important;
    }
    .vector-bag{
        top: 10px !important;
       width: 500px !important;
    }
   }
   @media (max-width:400px) {
    .arriving-sty{
        font-size: 18px !important;
    }
    .h1-style h1{
       font-size: 32px !important;
    }   
    .h1-style p{
       font-size: 12px;
    }
    .car-bag{
        margin: 10px !important;
       width: 300px !important;
    }
    .vector-bag{
        top: 10px !important;
       width: 310px !important;
    }
   }
.btn-sty-sec{
    background-color: #976E72;
    outline: none;
    border: none;
    font-size: 30px;
    padding: 15px;
    margin: 20px  0 !important;
    border-radius: 25px;
    color:#fff
}
.img-bng{
    position: relative;
}
.vector-bag{
    position: absolute;
    top: 0;
    right: 0;
    width: 1200px;
    z-index: -1;
}